In [1]:
from goodreads import client
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
book_tags = pd.read_csv('book-recommendations/book_tags.csv')

In [3]:
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [4]:
len(book_tags.goodreads_book_id.unique())

10000

In [5]:
#wide_tags = book_tags.pivot_table(index='goodreads_book_id', columns='tag_id', values='count')

In [6]:
tags = pd.read_csv('../goodbooks-10k/tags.csv')

In [7]:
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [8]:
genres = pd.read_csv('../goodbooks-10k/genres.csv', header=None)

In [9]:
genres.head()

            0
0         Art
1   Biography
2    Business
3   Chick Lit
4  Children's

In [10]:
from fuzzywuzzy import fuzz, process

In [11]:
genres = list(genres[0])

In [12]:
final_genres = {}
for i in genres:
    print(i)
    genres_i = process.extractBests(i, list(tags.tag_name), score_cutoff=96, limit = 25)
    final_genres[i] = genres_i

Art
Biography
Business
Chick Lit
Children's
Christian
Classics
Comics
Contemporary
Cookbooks
Crime
Ebooks
Fantasy
Fiction
Gay and Lesbian
Graphic Novels
Historical Fiction
History
Horror
Humor and Comedy
Manga
Memoir
Music
Mystery
Nonfiction
Paranormal
Philosophy
Poetry
Psychology
Religion
Romance
Science
Science Fiction
Self Help
Suspense
Spirituality
Sports
Thriller
Travel
Young Adult

In [13]:
final_genres

{'Art': [('art', 100)],
 'Biography': [('biography', 100)],
 'Business': [('business', 100)],
 'Chick Lit': [('chick-lit', 100)],
 "Children's": [('children-s', 100)],
 'Christian': [('christian', 100), ('christian-', 100)],
 'Classics': [('classics', 100)],
 'Comics': [('comics', 100)],
 'Contemporary': [('contemporary', 100), ('contempor\xe2\x80\x8bary', 100)],
 'Cookbooks': [('cookbooks', 100), ('cookbooks-', 100)],
 'Crime': [('crime', 100),
  ('crime-\xd8\xac\xd8\xb1\xd9\x8a\xd9\x85\xd8\xa9', 100)],
 'Ebooks': [('ebooks', 100)],
 'Fantasy': [('fantasy', 100)],
 'Fiction': [('-fiction', 100), ('fiction', 100), ('fiction-', 100)],
 'Gay and Lesbian': [('gay-and-lesbian', 100)],
 'Graphic Novels': [('graphic-novels', 100),
  ('graphics-novels', 97),
  ('graphic-novel', 96),
  ('graphicnovels', 96)],
 'Historical Fiction': [('historical-fiction', 100),
  ('historial-fiction', 97),
  ('historical-ficton', 97),
  ('historicalfiction', 97)],
 'History': [('-history', 100), ('history', 100)],
 'Horror': [('horror', 100)],
 'Humor and Comedy': [('humor-and-comedy', 100)],
 'Manga': [('manga', 100)],
 'Memoir': [('memoir', 100)],
 'Music': [('music', 100)],
 'Mystery': [('mystery', 100)],
 'Nonfiction': [('nonfiction', 100)],
 'Paranormal': [('paranormal', 100)],
 'Philosophy': [('philosophy', 100),
  ('philosophy-\xd9\x81\xd9\x84\xd8\xb3\xd9\x81\xd8\xa9', 100)],
 'Poetry': [('poetry', 100),
  ('poetry-\xd8\xb4\xd8\xb9\xd8\xb1', 100),
  ('poetry-\xe8\xaf\x97\xe6\xad\x8c', 100),
  ('\xd8\xb4\xd8\xb9\xd8\xb1-poetry', 100)],
 'Psychology': [('-psychology-', 100), ('psychology', 100)],
 'Religion': [('religion', 100),
  ('religion-', 100),
  ('religion-\xd8\xaf\xd9\x8a\xd9\x86', 100)],
 'Romance': [('romance', 100),
  ('romance-\xd8\xb1\xd9\x88\xd9\x85\xd8\xa7\xd9\x86\xd8\xb3\xd9\x8a', 100)],
 'Science': [('science', 100)],
 'Science Fiction': [('science-fiction', 100),
  ('science-fiction-\xd8\xae\xd9\x8a\xd8\xa7\xd9\x84\xd9\x8a', 100),
  ('sciencefiction', 97),
  ('sience-fiction', 97)],
 'Self Help': [('self-help', 100)],
 'Spirituality': [('spirituality', 100),
  ('spiritualit\xc3\xa9', 96),
  ('spirtuality', 96),
  ('sprituality', 96),
  ('zspirituality', 96)],
 'Sports': [('sports', 100)],
 'Suspense': [('suspense', 100)],
 'Thriller': [('thriller', 100)],
 'Travel': [('travel', 100)],
 'Young Adult': [('young-adult', 100), ('young-adults', 96)]}

In [14]:
list_of_tags = []
for i in final_genres:
    for j in final_genres[i]:
        list_of_tags.append(j[0])

In [15]:
list_of_tags

['philosophy',
 'philosophy-\xd9\x81\xd9\x84\xd8\xb3\xd9\x81\xd8\xa9',
 '-psychology-',
 'psychology',
 'travel',
 'poetry',
 'poetry-\xd8\xb4\xd8\xb9\xd8\xb1',
 'poetry-\xe8\xaf\x97\xe6\xad\x8c',
 '\xd8\xb4\xd8\xb9\xd8\xb1-poetry',
 'crime',
 'crime-\xd8\xac\xd8\xb1\xd9\x8a\xd9\x85\xd8\xa9',
 'romance',
 'romance-\xd8\xb1\xd9\x88\xd9\x85\xd8\xa7\xd9\x86\xd8\xb3\xd9\x8a',
 'religion',
 'religion-',
 'religion-\xd8\xaf\xd9\x8a\xd9\x86',
 'young-adult',
 'young-adults',
 'music',
 'historical-fiction',
 'historial-fiction',
 'historical-ficton',
 'historicalfiction',
 'memoir',
 'classics',
 'christian',
 'christian-',
 'business',
 'horror',
 'graphic-novels',
 'graphics-novels',
 'graphic-novel',
 'graphicnovels',
 'science-fiction',
 'science-fiction-\xd8\xae\xd9\x8a\xd8\xa7\xd9\x84\xd9\x8a',
 'sciencefiction',
 'sience-fiction',
 'thriller',
 'paranormal',
 'mystery',
 'cookbooks',
 'cookbooks-',
 'comics',
 'science',
 'children-s',
 '-fiction',
 'fiction',
 'fiction-',
 'sports',
 'manga',
 '-history',
 'history',
 'art',
 'spirituality',
 'spiritualit\xc3\xa9',
 'spirtuality',
 'sprituality',
 'zspirituality',
 'contemporary',
 'contempor\xe2\x80\x8bary',
 'gay-and-lesbian',
 'fantasy',
 'self-help',
 'suspense',
 'nonfiction',
 'chick-lit',
 'ebooks',
 'biography',
 'humor-and-comedy']

In [16]:
tags_genres_df = tags[tags.tag_name.isin(list_of_tags)]

In [17]:
tags_genres_df

       tag_id               tag_name
25         25               -fiction
31         31               -history
42         42           -psychology-
2938     2938                    art
4605     4605              biography
5951     5951               business
6750     6750              chick-lit
6888     6888             children-s
7077     7077              christian
7078     7078             christian-
7457     7457               classics
7778     7778                 comics
8055     8055           contemporary
8087     8087          contempor​ary
8150     8150              cookbooks
8151     8151             cookbooks-
8517     8517                  crime
8551     8551            crime-جريمة
10210   10210                 ebooks
11305   11305                fantasy
11743   11743                fiction
11744   11744               fiction-
12875   12875        gay-and-lesbian
13547   13547          graphic-novel
13561   13561         graphic-novels
13597   13597          graphicnovels
13601   13601        graphics-novels
14457   14457      historial-fiction
14487   14487     historical-fiction
14514   14514      historical-ficton
...       ...                    ...
22973   22973             paranormal
23471   23471             philosophy
23516   23516       philosophy-فلسفة
23831   23831                 poetry
23863   23863             poetry-شعر
23864   23864              poetry-诗歌
24526   24526             psychology
25647   25647               religion
25648   25648              religion-
25681   25681           religion-دين
26138   26138                romance
26176   26176        romance-رومانسي
26816   26816                science
26837   26837        science-fiction
26851   26851  science-fiction-خيالي
26884   26884         sciencefiction
27095   27095              self-help
27751   27751         sience-fiction
28384   28384           spirituality
28404   28404           spiritualité
28410   28410            spirtuality
28422   28422                 sports
28465   28465            sprituality
29076   29076               suspense
30358   30358               thriller
31155   31155                 travel
33114   33114            young-adult
33138   33138           young-adults
33281   33281          zspirituality
33861   33861             شعر-poetry

[69 rows x 2 columns]

In [18]:
from collections import defaultdict
dict_of_tags = defaultdict(list)
for i in final_genres:
    for j in final_genres[i]:
        dict_of_tags[i].append(j[0])

In [19]:
dict_of_tags.values()

[['young-adult', 'young-adults'],
 ['-psychology-', 'psychology'],
 ['travel'],
 ['poetry',
  'poetry-\xd8\xb4\xd8\xb9\xd8\xb1',
  'poetry-\xe8\xaf\x97\xe6\xad\x8c',
  '\xd8\xb4\xd8\xb9\xd8\xb1-poetry'],
 ['crime', 'crime-\xd8\xac\xd8\xb1\xd9\x8a\xd9\x85\xd8\xa9'],
 ['romance',
  'romance-\xd8\xb1\xd9\x88\xd9\x85\xd8\xa7\xd9\x86\xd8\xb3\xd9\x8a'],
 ['religion', 'religion-', 'religion-\xd8\xaf\xd9\x8a\xd9\x86'],
 ['music'],
 ['historical-fiction',
  'historial-fiction',
  'historical-ficton',
  'historicalfiction'],
 ['memoir'],
 ['christian', 'christian-'],
 ['business'],
 ['horror'],
 ['philosophy', 'philosophy-\xd9\x81\xd9\x84\xd8\xb3\xd9\x81\xd8\xa9'],
 ['-fiction', 'fiction', 'fiction-'],
 ['science-fiction',
  'science-fiction-\xd8\xae\xd9\x8a\xd8\xa7\xd9\x84\xd9\x8a',
  'sciencefiction',
  'sience-fiction'],
 ['graphic-novels', 'graphics-novels', 'graphic-novel', 'graphicnovels'],
 ['thriller'],
 ['contemporary', 'contempor\xe2\x80\x8bary'],
 ['mystery'],
 ['cookbooks', 'cookbooks-'],
 ['comics'],
 ['science'],
 ['children-s'],
 ['classics'],
 ['sports'],
 ['manga'],
 ['-history', 'history'],
 ['art'],
 ['spirituality',
  'spiritualit\xc3\xa9',
  'spirtuality',
  'sprituality',
  'zspirituality'],
 ['paranormal'],
 ['gay-and-lesbian'],
 ['fantasy'],
 ['self-help'],
 ['suspense'],
 ['nonfiction'],
 ['chick-lit'],
 ['humor-and-comedy'],
 ['biography'],
 ['ebooks']]

In [20]:
def get_genre(tag):
    for i in dict_of_tags:
        for j in dict_of_tags[i]:
            if tag == j:
                return i

In [21]:
tags_genres_df['genre'] = tags_genres_df.apply(lambda row: get_genre(row.tag_name), axis=1)

/Users/adamcoviensky/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
tags_genres_df

       tag_id               tag_name               genre
25         25               -fiction             Fiction
31         31               -history             History
42         42           -psychology-          Psychology
2938     2938                    art                 Art
4605     4605              biography           Biography
5951     5951               business            Business
6750     6750              chick-lit           Chick Lit
6888     6888             children-s          Children's
7077     7077              christian           Christian
7078     7078             christian-           Christian
7457     7457               classics            Classics
7778     7778                 comics              Comics
8055     8055           contemporary        Contemporary
8087     8087          contempor​ary        Contemporary
8150     8150              cookbooks           Cookbooks
8151     8151             cookbooks-           Cookbooks
8517     8517                  crime               Crime
8551     8551            crime-جريمة               Crime
10210   10210                 ebooks              Ebooks
11305   11305                fantasy             Fantasy
11743   11743                fiction             Fiction
11744   11744               fiction-             Fiction
12875   12875        gay-and-lesbian     Gay and Lesbian
13547   13547          graphic-novel      Graphic Novels
13561   13561         graphic-novels      Graphic Novels
13597   13597          graphicnovels      Graphic Novels
13601   13601        graphics-novels      Graphic Novels
14457   14457      historial-fiction  Historical Fiction
14487   14487     historical-fiction  Historical Fiction
14514   14514      historical-ficton  Historical Fiction
...       ...                    ...                 ...
22973   22973             paranormal          Paranormal
23471   23471             philosophy          Philosophy
23516   23516       philosophy-فلسفة          Philosophy
23831   23831                 poetry              Poetry
23863   23863             poetry-شعر              Poetry
23864   23864              poetry-诗歌              Poetry
24526   24526             psychology          Psychology
25647   25647               religion            Religion
25648   25648              religion-            Religion
25681   25681           religion-دين            Religion
26138   26138                romance             Romance
26176   26176        romance-رومانسي             Romance
26816   26816                science             Science
26837   26837        science-fiction     Science Fiction
26851   26851  science-fiction-خيالي     Science Fiction
26884   26884         sciencefiction     Science Fiction
27095   27095              self-help           Self Help
27751   27751         sience-fiction     Science Fiction
28384   28384           spirituality        Spirituality
28404   28404           spiritualité        Spirituality
28410   28410            spirtuality        Spirituality
28422   28422                 sports              Sports
28465   28465            sprituality        Spirituality
29076   29076               suspense            Suspense
30358   30358               thriller            Thriller
31155   31155                 travel              Travel
33114   33114            young-adult         Young Adult
33138   33138           young-adults         Young Adult
33281   33281          zspirituality        Spirituality
33861   33861             شعر-poetry              Poetry

[69 rows x 3 columns]

In [23]:
book_genres = book_tags.merge(tags_genres_df, how = 'inner', left_on = 'tag_id', right_on = 'tag_id')

In [24]:
len(book_genres.goodreads_book_id.unique())

10000

In [25]:
book_genres.head()

   goodreads_book_id  tag_id  count tag_name    genre
0                  1   11305  37174  fantasy  Fantasy
1                  2   11305   3441  fantasy  Fantasy
2                  3   11305  47478  fantasy  Fantasy
3                  5   11305  39330  fantasy  Fantasy
4                  6   11305  38378  fantasy  Fantasy

In [38]:
genre_counts = book_genres.groupby('genre').agg('count')

In [47]:
genre_counts.reset_index(inplace=True)
genre_counts.head()

        genre  goodreads_book_id  tag_id  count  tag_name
0         Art                436     436    436       436
1   Biography               1109    1109   1109      1109
2    Business                377     377    377       377
3   Chick Lit               1974    1974   1974      1974
4  Children's               1267    1267   1267      1267

In [48]:
genre_counts.genre.plot(kind='bar')

TypeError: Empty 'DataFrame': no numeric data to plot

In [49]:
book_genres = book_genres.groupby(by = ['goodreads_book_id', 'genre']).agg({'count' : 'sum'})

In [50]:
book_genres.index.levels

FrozenList([[1, 2, 3, 5, 6, 8, 10, 11, 13, 21, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 50, 67, 93, 98, 105, 106, 112, 117, 119, 122, 231, 249, 250, 264, 275, 291, 295, 304, 320, 343, 348, 350, 353, 355, 357, 359, 360, 365, 378, 386, 400, 415, 424, 428, 431, 432, 446, 447, 449, 456, 475, 597, 599, 621, 629, 647, 656, 662, 665, 667, 668, 676, 698, 703, 706, 760, 771, 816, 822, 823, 825, 827, 830, 840, 865, 870, 880, 890, 900, 902, 903, 930, 952, 960, 968, 976, 998, 1005, 1032, 1052, ...], [u'Art', u'Biography', u'Business', u'Chick Lit', u'Children's', u'Christian', u'Classics', u'Comics', u'Contemporary', u'Cookbooks', u'Crime', u'Ebooks', u'Fantasy', u'Fiction', u'Gay and Lesbian', u'Graphic Novels', u'Historical Fiction', u'History', u'Horror', u'Humor and Comedy', u'Manga', u'Memoir', u'Music', u'Mystery', u'Nonfiction', u'Paranormal', u'Philosophy', u'Poetry', u'Psychology', u'Religion', u'Romance', u'Science', u'Science Fiction', u'Self Help', u'Spirituality', u'Sports', u'Suspense', u'Thriller', u'Travel', u'Young Adult']])

In [66]:
book_genres.head()

                                count
goodreads_book_id genre
1                 Children's     1095
                  Classics        958
                  Contemporary    289
                  Fantasy       37174
                  Fiction        9954

In [185]:
book_genres.to_csv('book-recommendations/book_ids_to_genres.csv')

In [56]:
wide_book_genres = book_genres.pivot_table(index='goodreads_book_id', columns='genre', values = 'count')

In [57]:
wide_book_genres.head()

genre,Art,Biography,Business,Chick Lit,Children's,Christian,Classics,Comics,Contemporary,Cookbooks,...,Romance,Science,Science Fiction,Self Help,Spirituality,Sports,Suspense,Thriller,Travel,Young Adult
goodreads_book_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,1095.0,NaN,958.0,NaN,289.0,NaN,...,334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12716.0
2,NaN,NaN,NaN,NaN,1098.0,NaN,NaN,NaN,NaN,NaN,...,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,865.0
3,NaN,NaN,NaN,NaN,1771.0,NaN,1898.0,NaN,397.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14984.0
5,NaN,NaN,NaN,NaN,1338.0,NaN,1090.0,NaN,324.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12856.0
6,NaN,NaN,NaN,NaN,1227.0,NaN,1032.0,NaN,301.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12979.0

In [68]:
null_counts = pd.isnull(wide_book_genres).sum(axis=1)

In [72]:
count=0
for i in null_counts:
    if i == 40:
        count +=1
print(count)

0

In [61]:
wide_book_genres.shape

(10000, 40)

In [199]:
wide_book_genres.fillna(0, inplace = True)

In [200]:
wide_book_genres.to_csv('book-recommendations/books_with_tag_counts.csv')

### Mapping book genres to ratings book ids

In [2]:
wide_book_genres = pd.read_csv('book-recommendations/books_with_tag_counts.csv')

In [3]:
wide_book_genres.head()

,goodreads_book_id,Art,Biography,Business,Chick Lit,Children's,Christian,Classics,Comics,Contemporary,...,Romance,Science,Science Fiction,Self Help,Spirituality,Sports,Suspense,Thriller,Travel,Young Adult
0,1,0.0,0.0,0.0,0.0,1095.0,0.0,958.0,0.0,289.0,...,334.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12716.0
1,2,0.0,0.0,0.0,0.0,1098.0,0.0,0.0,0.0,0.0,...,213.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,865.0
2,3,0.0,0.0,0.0,0.0,1771.0,0.0,1898.0,0.0,397.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14984.0
3,5,0.0,0.0,0.0,0.0,1338.0,0.0,1090.0,0.0,324.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12856.0
4,6,0.0,0.0,0.0,0.0,1227.0,0.0,1032.0,0.0,301.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12979.0

In [4]:
books = pd.read_csv('book-recommendations/books.csv')

In [6]:
books.columns

Index([u'book_id', u'goodreads_book_id', u'best_book_id', u'work_id',
       u'books_count', u'isbn', u'isbn13', u'authors',
       u'original_publication_year', u'original_title', u'title',
       u'language_code', u'average_rating', u'ratings_count',
       u'work_ratings_count', u'work_text_reviews_count', u'ratings_1',
       u'ratings_2', u'ratings_3', u'ratings_4', u'ratings_5', u'image_url',
       u'small_image_url'],
      dtype='object')

In [8]:
good_cols = ['book_id', 'goodreads_book_id', 'authors', 'original_publication_year', 'language_code']

In [9]:
books = books.loc[:, good_cols]

In [10]:
books.head()

,book_id,goodreads_book_id,authors,original_publication_year,language_code
0,1,2767052,Suzanne Collins,2008.0,eng
1,2,3,"J.K. Rowling, Mary GrandPré",1997.0,eng
2,3,41865,Stephenie Meyer,2005.0,en-US
3,4,2657,Harper Lee,1960.0,eng
4,5,4671,F. Scott Fitzgerald,1925.0,eng

In [11]:
books_meta_info = books.merge(wide_book_genres, how='left', left_on='goodreads_book_id', right_on='goodreads_book_id')

In [14]:
books_meta_info.to_csv('book-recommendations/books_meta_info.csv')

In [17]:
ratings = pd.read_csv('book-recommendations/ratings.csv')

In [19]:
ratings_meta_info = ratings.merge(books_meta_info, how='left', left_on='book_id', right_on='book_id')

In [22]:
len(ratings_meta_info.book_id.unique())

10000

In [25]:
pd.isnull(ratings_meta_info.iloc[:,7:]).all(1).sum()

0

In [26]:
ratings_meta_info.to_csv('book-recommendations/ratings_meta_info.csv')

In [28]:
ratings_meta_info.shape

(5976479, 47)